[View in Colaboratory](https://colab.research.google.com/github/aishwaryaprasher/machinelearn/blob/master/decision%20tree.ipynb)

In [0]:
import numpy as np
import pandas as pd

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [0]:
balance_data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data')

In [4]:
balance_data.head()

   B  1  1.1  1.2  1.3
0  R  1    1    1    2
1  R  1    1    1    3
2  R  1    1    1    4
3  R  1    1    1    5
4  R  1    1    2    1

In [7]:
print ("Dataset Shape:: "), balance_data.shape

Dataset Shape::

(None, (624, 5))

In [0]:
X = balance_data.values[:, 1:5]
Y = balance_data.values[:,0]

In [0]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 200)

In [12]:
clf_gini = DecisionTreeClassifier(criterion = "gini")
clf_gini.fit(X_train, y_train)
y_pred = clf_gini.predict(X_test)
print ( "Accuracy comes out to be "), accuracy_score(y_test,y_pred)*100

Accuracy is

(None, 75.53191489361703)

In [13]:
clf_entropy = DecisionTreeClassifier(criterion = "entropy")
clf_entropy.fit(X_train, y_train)
y_pred_en = clf_entropy.predict(X_test)
print ("Accuracy comes out to be"), accuracy_score(y_test,y_pred_en)*100

Accuracy is

(None, 75.0)

In [14]:

clf = RandomForestClassifier()
clf.fit(X_train, y_train)
y_pred_rf = clf.predict(X_test)
print ("Accuracy comes out to be "), accuracy_score(y_test,y_pred_rf)*100

Accuracy is

(None, 84.04255319148936)

In [15]:
clf_rf_entropy = RandomForestClassifier(criterion='entropy')
clf_rf_entropy.fit(X_train, y_train)
y_pred_rf_en = clf.predict(X_test)
print ("Accuracy comes out to be "), accuracy_score(y_test,y_pred_rf_en)*100

Accuracy comes out to be

(None, 84.04255319148936)